{% extends 'poems/base.html'%}

{% block content %}
{% load static %}
		<section id="fh5co-explore" data-section="explore" style="background-image: url('{% static "poems/spiral.png" %}');" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext to-animate">
                                <table border="1px">
									{% for poem in poems %}
                                    <tr>
										<td><a href="{% url 'poems:poem_single' id=poem.id %}">{{poem.poem_title}}</a></td>
										<td>{{poem.first_line}}</td>
									</tr>
									{% endfor %}

                                </table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}